---
import YearToggleList from '../../components/YearToggleList.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
    title="tags"
    description="Explore tag directory for easy navigation and discovery. Find a wide range of topics, articles, and insights organized by tags, making it effortless to locate the content that interests you most."
    showHeader={false}
    ><h1 class="mb-12 text-2xl font-serif sm:mb-16 sm:text-4xl">Curr</h1>
    <YearToggleList />
</BaseLayout>
